<app-banner title="Search"></app-banner>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form #searchForm="ngForm" (ngSubmit)="searchMatch()">
                    <div class="form-group">
                        <input type="email" class="form-control" [(ngModel)]="match.teamOne" name="team 1"
                            placeholder="team one">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="match.teamTwo" name="team 1"
                            placeholder="team two">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" value="Search">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div *ngFor="let a of matches">
    <app-score [matchInput]="a"></app-score>
</div>