<table class="table table-dark">
    
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Capacity</th>
        <th>Foundation</th>
        <!-- <th>Stadium</th> -->

        <th>Actions</th>
    </tr>

    <tr *ngFor="let s of stadiums">
        <td>{{s._id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.country}}</td>
        <td>{{s.capacity}}</td>
        <td>{{s.foundation}}</td>
        <!-- <td>{{m.stadium}}</td> -->
        <td>
            <button class="btn btn-warning" (click)="editStadium(s._id)">Edit</button>
        </td>

    </tr>
</table>